@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    background: linear-gradient(135deg, rgba(34,156,195,1) 0%, rgba(150,107,193,1) 40%, rgba(253,187,45,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 4px rgb(200,200,200);
}

.accordion-body {  
    display: grid;
    grid-template-columns: repeat(auto-fill, 125px);
    justify-content: space-between;
    grid-gap: 5px;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 210px;
    background-color: bisque;
    border-radius: 10px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    box-shadow: 3px 3px 8px rgb(200, 200, 200);
}

.pokeID {    
    font-size: 0.6em;    
    margin-bottom: 0.2em;    
}

.pokeName {
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.2em;    
}

.pokemonTypes {
    width: 70%;
    text-align: center;
    font-size: 0.6rem;
}

.type {
    color: white;
    padding: 0 5px;
    border-radius: 4px;
}

.type:empty {
    display: none;
}

.typeOne {
    margin-bottom: 0.3em;
}

footer {
    font-size: 0.8em;
}